*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:"My Custom Font", Verdana, Tahoma;
    background-size: cover;
    width: 100;
}
header{
    width: 90%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-weight: bold;
    color: #000000;
}
nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
}
.nav-bar ul{
    display: flex;
    color:#f1f1f100
}
.nav-bar ul li a{
    display: block;
    COLOR: #000000;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color:#ffffff;
    background:rgb(0, 0, 0);
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;

    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
        
    }
}
.box{
    position: middle;
    width: 800px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 8%;
}
.box-img{
    border-radius: 50%;
    top: 10%;
    width: 160px;
    height: 160px;
}
@font-face {
    font-family: "My Custom Font";
    src: url(fonts/webfonts/ttf/Hack-Bold.ttf) format("truetype");
}
.title{
    font-size: xx-large;
}
p.hack_bold{
    font-family: "My Custom Font", Verdana, Tahoma;
    color:rgb(0, 0, 0);
    font-size: larger;
    background-color: #ffffff;
}
p.hack_bold2{
    font-family: "My Custom Font", Verdana, Tahoma;
    color:rgb(0, 0, 0);
    font-size: x-large;
    background-color: #ffffff;
}
@font-face {
    font-family: "My Custom Font2";
    src: url(fonts/webfonts/ttf/Hack-Regular.ttf) format("truetype");
}
p.hack_regular{
    font-family: "My Custom Font2", Verdana, Tahoma;
    color:rgb(185, 29, 29);
    background-color: #fffdfd;
}

.links{
    position: absolute;
    top: 68%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #000000;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
}
.fa-instagram{
    color:#DD2A7B;
}
.fa-linkedin{
    color:#0E76A8;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(20%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}
.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
}

.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #000000; 
    padding: 16px;
}
.button1:hover {
    background-color: #000000;
    color: white;
}
.logos{
    display: flex;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}
.title{
    margin: 20px 50px 75px 100px;
}
#projects{
    padding: 10px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 20px 50px 75px 100px;
}
.projects-list div{
    background: #f0f0f0;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10%;
    box-shadow: 0 5px 15px -5px #00000070;
    transition: background 0.5s, transform 0.5s;
}
.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div a{
    text-decoration: none;
    color:#000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.projects-list div:hover{
    background:rgb(198, 198, 198);
    transform: translateY(-10px);

}
.scrapbooking{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.scrapbooking img{
    width: 100%;
    cursor: pointer;
}

.scrapbooking img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px 4gba(68, 77, 136, 0.2);
}
.scrapbook-title{
    margin: 20px 50px 75px 100px;
}


